body {
    background-color: red;
    font-family: webfont;
    font-size: 30px;
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('../font/webfont.woff') format('woff')
}
